<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/Cadastro.css">
    <script src="/Models/Cadastro.js"></script>
</head>
<body>
    <div id='princcadas'>
            <div id='voltlog'>
                
            </div>
            <div id='camposcadas'>
                <div id='nomecadas'>
                    <h1>Nome</h1>
                </div>
                <div id='nomecasdascamp' contentEditable>

                </div>
                <div id='emailcadas'>
                    <h1>Email</h1>
                </div>
                <div id='emailcadascamp'contentEditable>

                </div>
                <div id='senhacadas'>
                    <h1>Senha</h1>
                </div>
                <div id='senhacadascamp'contentEditable>

                </div>
                <div id='comfsenhacadas'>
                    <h1>Comfirmar Senha</h1>
                </div>
                <div id='comfsenhacadascamp'contentEditable>

                </div>
                <div id='botcadast' onclick="enviar_dados_cad()">
                    <h1>Cadastro</h1>
                </div>
                <div id="credencias_incoretas_cads">
                    
                </div>
            </div>
        </div>
</body>
</html>