<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/Config.css">
</head>
<body>
    <div id='princconf'>
            <div id='voltlog'>
                      
                  </div>
            <div id='painelconf'>
                <h1>Máquina</h1>
                <div>
                    <input type="text" name="" id="maqcamp">
                </div>
                <h1>Ferramenta</h1>
                <div >
                    <input type="text" name="" id="ferracamp">
                </div>
                <h1>Etiquetas</h1>
                <div>
                    <input type="text" name="" id="eticamp">
                </div>
                <h1>Sobras</h1>
                <div>
                    <input type="text" name="" id="sobcamp">
                </div>
                <h1>Repositório de Arquivos</h1>
                <div >
                    <input type="text" name="" id="repcamp">
                </div>
                <div id='botsalv'>
                    <h1>Salvar</h1>
                </div>
            </div>
        </div>
</body>
</html>