<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/Login.css">
</head>
<body>
     <div id='princlo'>
                <div id='voltlog'>
                </div>
                <div id='camposlo'>
                    <div id='emaillo'>
                        <h1>Email</h1>
                    </div>
                    <div id='emaillocamp' contenteditable="">

                    </div>
                    <div id='senhalo'>
                        <h1>Senha</h1>
                    </div>
                    <div id='senhalocamp' contenteditable="">

                    </div>
                    <div id='botlog' onclick="window.location.href='/App'">
                        <h1>Login</h1>
                    </div>
                </div>
            </div>
</body>
</html>