<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/Criar.css">
    <script src="/Models/Criar.js"></script>
</head>
<body>
    <div id='princcriar'>
      <div id='voltlog'>
          
      </div>
        <div id='dados'>
          <h1>Cor do material</h1>
          <div >
              <input type="text" name="" id="campcor">
          </div>
          <h1>Espessura do Material</h1>
          <div >
              <input type="number" name="" id="campesp">
          </div>
          <h1>Propriedades</h1>
          <div id='props'>
            <h1>Comprimento</h1>
              <div >
                <input type="number" name="" id="campcomp">
              </div>
              <h1>Largura</h1>
              <div>
                <input type="number" name="" id="camplarg">
              </div>
              <h1>Quantidade</h1>
              <div>
                  <input type="number" name="" id="campquant">
              </div>
              <h1>Descrição</h1>
              <div >
                <input type="text" name="" id="campdesc">
              </div>
              <h1></h1>
              <div id='botinser' onclick="inserir()">
                  <h1>Inserir</h1>
              </div>
          </div>
        </div>
        <div id='visor'>
        </div>
    </div>
</body>
</html>