<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/Home.css">
    <script src="Index.js"></script>
</head>
<body>
    <div id='principallogin'>
        <div id='login'>
            <div id='login1'>
                
            </div>
            <div id='botlogin'>
                <div id='botlogin1' onclick="window.location.href='/login'">
                    <h1>Login</h1>
                </div>
                <div id='botcadastro1' onclick="window.location.href='/Cadastro'">
                    <h1>Cadastro</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>