<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Projeto</title>
    <link rel="stylesheet" href="/Styles/Novo_Projeto.css">
    <script src="/Models/Novo_Projeto.js"></script>
</head>
<body>
    <div id="novoprojrinc">
        <div id="novoproj">
            <h1>Novo Projeto</h1>
        </div>
        <div>
            <h1>Nome do Projeto</h1>
        </div>
        <div>
            <input type="text" class="campnovoproj" id="nomeInput">
        </div>
        <div>
            <h1>Ambiente</h1>
        </div>
        <div>
            <input type="text" class="campnovoproj" id="ambienteInput">
        </div>
        <div>
            <h1>Cliente</h1>
        </div>
        <div>
            <input type="text" class="campnovoproj" id="clienteInput" list="clientesDatalist" placeholder="Digite o nome do cliente">
            <datalist id="clientesDatalist"></datalist>
            <input type="hidden" id="clienteIdInput">
        </div>
        <div>
            <h1>Etapa</h1>
        </div>
        <div>
            <input type="text" class="campnovoproj" id="etapaInput" readonly>
        </div>
        <div id="botproj">
            <h1>Criar Projeto</h1>
        </div>
    </div>
</body>
</html>
