<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="/Styles/Projetos.css">
    <script src="/Models/Projetos.js"></script>
</head>
<body>
    <div id="princproj">
        <div id="topoProj">
            <div id="novoproj" onclick="window.location.href='/App/Projetos/Novo'">
                <h1>Criar projeto</h1>
            </div>
        </div>
        <div id="projlist"></div>
    </div>
</body>
</html>