<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/Clientes.css">
    <script src="/Models/Clientes.js"></script>
</head>
<body>
    <div id="cliprinc">
        <div onclick="window.location.href='/App/Clientes/Novo'" id="novocli">
            <h1>Novo Cliente</h1>
        </div>
        <div id="clientesList"></div>
    </div>
    
</body>
</html>