<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/Novo_Cliente.css">
    <script src="/Models/"></script>
</head>
<body>
    <div id="novocliprinc">
        <div>
            <h1>Nome</h1>
        </div>
        <div id="nome_cli">
            <input type="text" class="campnovocli">
        </div>
        <div>
            <h1>CPF</h1>
        </div>
        <div id="cpf_cli">
            <input type="text" class="campnovocli">
        </div>
        <div>
            <h1>Endereço</h1>
        </div>
        <div>
            <input type="text" class="campnovocli">
        </div>
        <div id='botcli' >
            <h1>Cadastro</h1>
        </div>
    </div>
</body>
</html>